.item {
    display: flex;

    .select {
        background-color: rgba(76, 49, 175, 0.404);
    }
}

.title {
    font-weight: 700;
}

.date {
    font-size: 0.8rem;
    color: var(--border-color);
}
