.page {
    flex-basis: 100%;
    display: flex;
    flex-grow: 1;
}

.container {
    flex-basis: 33%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
}

.empty {
    margin: 20px;
    font-size: 0.9rem;
    color: var(--main-light-color);
}
