.button {
    color: #ffffff;
    font-family: var(--body-font);
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;

    &:active {
        box-shadow: inset -1px 0px 6px 3px #00000085;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.circle {
    border-radius: 50%;
    position: relative;

    &:only-child {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &.small {
        width: 26px;
        height: 26px;
        font-size: 0.9rem;
    }
    &.middle {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
    &.large {
        width: 70px;
        height: 70px;
        font-size: 1.15rem;
    }
}

.default {
    letter-spacing: 1px;

    &.small {
        font-size: 0.85rem;
    }
    &.middle {
        font-size: 1rem;
        padding: 0.75rem;
    }
    &.large {
        font-size: 1.15rem;
        padding: 1rem;
    }

    &.none {
        border-radius: 0;
    }
    &.low {
        border-radius: 8px;
    }
    &.medium {
        border-radius: 12px;
    }
    &.high {
        border-radius: 16px;
    }
    &.round {
        border-radius: 3em;
    }
}

.primary {
    background-color: rgba(17, 97, 237, 0.75);
    &:hover {
        background-color: rgba(17, 97, 237, 1);
    }
    &:disabled {
        background-color: rgb(122, 108, 206);
    }
}
.danger {
    background-color: rgba(237, 17, 17, 0.75);
    &:hover {
        background-color: rgb(237, 17, 17);
    }
    &:disabled {
        background-color: rgb(204, 93, 93);
    }
}
.ghost {
    border: 1px solid rgba(17, 97, 237, 1);
    background-color: var(--button-bg-color);
    color: rgba(17, 97, 237, 1);
    &:hover {
        background-color: rgba(17, 97, 237, 1);
    }
    &:disabled {
        border-color: rgb(122, 108, 206);
        background-color: #eee;
    }
}
.grayPrimary {
    background-color: var(--button-bg-color);
    color: var(--button-color);
    &:hover {
        background-color: rgba(17, 97, 237, 1);
        color: #fff;
    }
    &:disabled {
        background-color: rgb(150, 150, 150);
    }
}
.grayDanger {
    background-color: var(--button-bg-color);
    color: rgb(237, 17, 17);
    &:hover {
        background-color: rgb(237, 17, 17);
        color: #fff;
    }
    &:disabled {
        background-color: rgb(150, 150, 150);
    }
}
