.scroll {
    margin-left: 2px;
    &.active {
        // .content {
        //     max-height: 600px;
        // }

        .icon {
            transform: rotate(180deg);
            color: var(--button-color);
        }
    }
}

.header {
    border-left: 4px solid var(--button-color);
    cursor: pointer;

    // &:hover {
    // }
}

.item {
    padding: 15px 35px;
    border-bottom: 1px solid var(--border-color);

    // &:last-child {
    //     border-bottom-color: var(--button-color);
    // }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    font-weight: 700;
}
.icon {
    display: block;
    transition: all 0.5s ease-in-out;
}

.content {
    // max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
